MODEL=
OPENAI_API_KEY=
SERPER_API_KEY=
PINECODE_KEY=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# Weaviate Cloud Configuration
WEAVIATE_URL=
WEAVIATE_API_KEY=
WEAVIATE_GRPC_PORT=
WEAVIATE_GRPC_URL=

LOGO_SECRET_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
