aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
anyio
appdirs
asgiref
asttokens
attrs
azure-storage-blob
auth0-python
Authlib
backoff
bcrypt
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
click
cloudinary
cohere
colorama
coloredlogs
crewai
crewai-tools
cryptography
dataclasses-json
decorator
Deprecated
deprecation
distro
docker
docstring_parser
duckduckgo_search
durationpy
embedchain
et_xmlfile
executing
fastapi
fastavro
filelock
flatbuffers
frozenlist
fsspec
google-auth
googleapis-common-protos
gptcache
greenlet
grpcio
grpcio-health-checking
grpcio-tools
h11
h2
hpack
httpcore
httptools
httpx
httpx-sse
humanfriendly
hyperframe
idna
instructor
ipython
ipython_pygments_lexers
jedi
Jinja2
jiter
joblib
json5
json_repair
jsonpatch
jsonpickle
jsonpointer
jsonref
jsonschema
jsonschema-specifications
lancedb
langchain
langchain-cohere
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-text-splitters
langsmith
litellm
lxml
Mako
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mem0ai
mmh3
monotonic
mpmath
multidict
mypy_extensions
networkx
nltk
nodeenv
numpy
oauthlib
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
parso
pdfminer.six
pdfplumber
pexpect
pillow
portalocker
posthog
primp
prompt_toolkit
propcache
protobuf
psycopg2-binary
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pypdf
pypdfium2
PyPika
pyright
pysbd
python-dateutil
python-dotenv
pytz
pyvis
PyYAML
qdrant-client
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
schema
scikit-learn
scipy
sentence-transformers
sentencepiece
shellingham
six
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
sympy
tabulate
tenacity
threadpoolctl
tiktoken
tokenizers
tomli
tomli_w
torch
torchaudio
torchvision
tqdm
traitlets
transformers
typer
types-requests
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
uv
uvicorn
uvloop
validators
watchfiles
wcwidth
weaviate
weaviate-client
websocket-client
websockets
wrapt
yarl
zipp
zstandard